<div class="app-page">
    <div class="header">
        <div class="navs">
            <app-button class="header-btn" btnText="nav1">
            </app-button>
            
            <app-button class="header-btn" btnText="nav2">
            </app-button>
            
            <app-button class="header-btn" btnText="nav3">
            </app-button>
        </div>
        <app-button class="header-btn logout" btnText="logout"
            (clicked)="logout()">
        </app-button>
    </div>
    <div class="router">
        <div class="main-content">
            <h1>TODO: DELETE THIS TEXT</h1>
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="footer">
        <div class="footer-content">
            <div class="about">
                <p>About this</p>
                <span>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                    It has survived not only five centuries, but also the leap into electronic typesetting, 
                    remaining essentially unchanged. It was popularised in the 1960s with the release of 
                    Letraset sheets containing Lorem Ipsum passages, and more recently with 
                    desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                </span>
            </div>
            <ul class="links">
                <li>link1</li>
                <li>link2</li>
                <li>link3</li>
            </ul>
        </div>
    </div>
</div>
