RabbitMq.WebAPI/RabbitMq.WebAPI/obj
RabbitMq.WebAPI/RabbitMq.WebAPI/bin
RabbitMq.WebAPI/RabbitMq.WebAPI/.vs
RabbitMq.WebAPI/.vs

RabbitMq.WebAPI/RabbitMq.Broker/obj
RabbitMq.WebAPI/RabbitMq.Broker/bin

RabbitMq.WebAPI/RabbitMq.Common/obj
RabbitMq.WebAPI/RabbitMq.Common/bin

RabbitMq.WebAPI/RabbitMq.Console/obj
RabbitMq.WebAPI/RabbitMq.Console/bin

RabbitMq.WebAPI/RabbitMq.Identity/obj
RabbitMq.WebAPI/RabbitMq.Identity/bin

RabbitMq.WebAPI/RabbitMq.DAL/obj
RabbitMq.WebAPI/RabbitMq.DAL/bin

RabbitMq.WebAPI/RabbitMq.Services/obj
RabbitMq.WebAPI/RabbitMq.Services/bin

RabbitMq.WebAPI/RabbitMq.BenchmarkTests/obj
RabbitMq.WebAPI/RabbitMq.BenchmarkTests/bin

RabbitMq.WebAPI/RabbitMq.Services.Tests/obj
RabbitMq.WebAPI/RabbitMq.Services.Tests/bin

RabbitMq.WebAPI/RabbitMq.IntegrationTests/obj
RabbitMq.WebAPI/RabbitMq.IntegrationTests/bin
