@import '../../colors.sass'
    
.btn
    width: 150px
    height: 45px
    border-radius: 15px
    border: 1px solid $cyan
    background-color: $dark-gray
    &:hover
        background-color: $black
        cursor: pointer
        box-shadow: 7px 7px 5px 1px $black

