@import '../../colors.sass'

.btn
    width: 150px
    height: 45px
    border-radius: 15px
    border: 1px solid $cyan
    background-color: $dark-gray
    &:hover
        background-color: $black
        outline: 2px solid $dark-cyan
        cursor: pointer
        transition-timing-function: ease-in-out

.header-btn
    min-width: 100px
    height: 35px
    border-radius: 20px
    border: 1px solid $cyan
    background-color: $dark-gray
    &:hover
        background-color: $black
        outline: 2px solid $dark-cyan
        border: 1px solid $dark-cyan
        cursor: pointer
        transition-timing-function: ease-in-out
        
.card-btn
    width: 100px
    height: 35px
    border: 1px solid $cyan
    border-radius: 10px
    background-color: $dark-gray
    &:hover
        background-color: $black
        outline: 2px solid $dark-cyan
        border: 1px solid $dark-cyan
        cursor: pointer
        transition-timing-function: ease-in-out
        