<div id="am-block">
    <h1 id="am1">News</h1>
</div>
<div class="news">
    <h2>17.01.23 - No buttons in header!</h2>
    <div class="text">
        <span>Instead we can have an avatar with cool effect and your profile page.</span>
        <span>Here you can reset your password and update link to new image which you want to use as avatar.</span>
    </div>
</div>
<div class="news">
    <h2>16.12.22 - A bit changed styles</h2>
    <ul>
        <li>Replaced buttons in header with ul/li selectors.</li>
        <li>Also added transition effect so it looks much more better.</li>
        <li>And now current page link in header section lights up.</li>
    </ul>
</div>
<div class="news">
    <h2>13.12.2022 - This page created!</h2>
    <span>By the way almost whole project is finished.</span>
</div>
