@import '../../../../colors.sass'
    
// #am-block
//     position: relative
//     height: 250px
//     width: 100%

// #am1, #am2
//     position: absolute
//     width: 5px
//     height: 5px
//     background-color: $cyan
//     border-radius: 3px

#am-block
    border-bottom: 1px solid $dark-cyan
    margin: 0 0 15px 0

#am1
    font-size: 46px
    
