<div class="notification" *ngIf="sender">
    <div class="body">
        <div class="content">
            <span>{{ notification.content }}</span>
            <span class="date">{{ notification.createdAt | date }}</span>
        </div>
        <div class="sender">
            <span>Sender: {{ sender.username }}</span>
            <span>Email: {{ sender.email }}</span>
        </div>
    </div>
    <div class="btn-container">
        <app-button
            btnText="Reply"
            class="card-btn"
            (clicked)="reply()">
        </app-button>

        <app-button
            btnText="Delete"
            class="card-btn"
            (clicked)="deleteNotification()">
        </app-button>
    </div>
</div>
