<form [formGroup]="loginForm" class="form-container" (ngSubmit)="submit()">
    <div class="head">
        <h2>Login page</h2>
        <a class="link" href="auth/register">New here? Create an account!</a>
    </div>
    <div class="container">
        <app-input
            #emailInput
            class="ipt" 
            label="Email"
            placeholder="Write your email"
            (keyDownEnter)="submit()"
            [formControl]="emailControl"
            [isErrorDisplay]="isErrorDisplay"
            [errorMessage]="emailError"
        ></app-input>
        <app-input
            #passwordInput
            class="ipt"
            label="Password"
            placeholder="Write your password"
            type="password"
            (keyDownEnter)="submit()"
            [formControl]="passwordControl"
            [isErrorDisplay]="isErrorDisplay"
            [errorMessage]="passwordError"
        ></app-input>
        <div class="btn-container">
            <app-button 
                btnText="Login"
                (clicked)="submit()"
            ></app-button>
        </div>
    </div>
</form>
