<div class="user-card">
    <div class="user-block">
        <app-avatar [user]="user" (clicked)="onAvatarClick()"></app-avatar>
        <div class="user-info">
            <h2>{{ user.username }}</h2>
            <span>{{ user.email }}</span>
        </div>
    </div>
    <div class="btn-container">
        <app-button 
            class="card-btn" 
            btnText="Private"
            (clicked)="sendPrivateNotification()">
        </app-button>
        <app-button 
            class="card-btn" 
            btnText="Simple"
            (clicked)="sendSimpleNotification()"></app-button>
    </div>
</div>
